@import './Var';
@import './Mixin.module';

// --------------------BLOG PAGE-------------------------
// ---------------------------------------------------------
// ---------------------------------------------------------
.Bmaindiv {
    margin-top: 150px;
    h2 {
        color: $text-darkcolor;
        padding: 20px 0px;
        font-family: Oswald, sans-serif;
    }

    div {
        h6 {
            color: $text-lightcolor;
            font-family: Oswald, sans-serif;
            line-height: 20px;
        }
    }

    p {
        padding-top: 20px;
        color: $text-lightcolor;
        font-family: Oswald, sans-serif;
    }

    a {
        color: var(--data-color-logo);
        letter-spacing: 7px;
    }

    h1 {
        color: $text-darkcolor;
        font-weight: 700;
        padding: 30px 0px;
        font-family: Oswald, sans-serif;
    }

    div {
        a {
            h5 {
                @include threeimage($text-darkcolor, 40px, 500, 19px);
                letter-spacing: 0px;
                transition: all 0.5s ease-in-out;

                &:hover {
                    color: var(--data-color-logo);
                }
            }
        }
    }

    input {
        border: 2px solid rgba($text-lightcolor, 0.3);
        margin-bottom: 20px;
        padding: 15px;
        width: 100%;
    }

    button {
        letter-spacing: 3px;
        min-width: 130px;
        padding: 12px;
        background: var(--data-color-logo);
        border: none;
        color: $white-color;
        font-weight: 600;
        transition: all 0.5s ease-in-out;

        &:hover {
            background-color: $text-darkcolor;
        }
    }
}

// --------------------------------------------------------------------BLOG RESPONSIVE
@media only screen and (max-width: 575.98px) {
    .sidediv {
        margin-top: 610px;
    }
}

@media only screen and (min-width: 991px) {
    .Bmaindiv {
        margin-bottom: 200px;
    }
}

@media only screen and (min-width: 1200px) {
    .Bmaindiv {
        margin-bottom: 0px;
    }
}