@import './Var';
@import './Mixin.module';


// -------------------------SERVICE PAGE------------------------------
// ---------------------------------------------------------------------
// ---------------------------------------------------------------------
// 222222222222222.........
.saccormaindiv {
    .saccorimage {
      background-image: url("./../public/bgi4.jpg");
      @include background(cover);
      position: relative;
  
      .saccorimage2 {
        position: absolute;
        background-image: url("./../public/bgi9.jpg");
        @include background(cover);
      }
  
      .saccorimage3 {
        position: absolute;
  
        p {
          @include threeimage(var(--data-color-logo), 40px, 100, 13px);
          letter-spacing: 7px;
        }
  
        h2 {
          span {
            font-weight: 100;
          }
        }
      }
    }
  }
  
  // 222222222222222222.............
  .Smaindiv {
    margin-top: 100px;
  
    .Simg1 {
      background-image: url("./../public/s3.webp");
      @include background(cover);
      margin: 0 auto;
      position: relative;
  
      .Simg2 {
        background-image: url("./../public/s8.webp");
        @include background(cover);
        position: absolute;
      }
  
      .Simg3 {
        background-image: url("./../public/A-6.webp");
        @include background(cover);
        position: absolute;
      }
    }
  
    .Saccorsec {
      flex-direction: column;
  
      h6 {
        letter-spacing: 7px;
      }
  
      h2 {
        span {
          font-weight: 100;
        }
      }
    }
  }
  
  // 33333333333333333............
  .Sthreeimg {
    background-image: url("./../public/mainimg3.jpg");
    @include background(cover);
    @include flexcenter;
  
    h2 {
      font-size: 60px;
      -webkit-text-stroke: 1px rgba($text-lightcolor, 0.2);
      color: transparent;
    }
  
    h3 {
      @include threeimage($text-darkcolor, 40px, 600, 25px);
      transition: all 0.5s ease-in-out;
      cursor: pointer;
  
      &:hover {
        color: var(--data-color-logo)
      }
    }
  
    p {
      @include threeimage($text-lightcolor, 20px, 100, 15px);
    }
  }
  
  // 5555555555555555555.............
  .STwobgsecdiv {
    @include widthheight(100%, 700px);
  
    .Stwobg1 {
      background-image: url("./../public/Simg2.png");
      @include background(cover);
      position: relative;
  
      h2 {
        background-image: url("./../public/shortimg1.png");
        @include background(cover);
        position: absolute;
      }
  
      h3 {
        position: absolute;
        clip-path: polygon(52% 31%, 84% 37%, 101% 80%, 35% 121%, 15% 75%);
        background-color: rgba($black-color, 0.381);
      }
    }
    .Stwobg2 {
      background-color: rgba($black-color, 0.9);
      display: flex;
      justify-content: center;
      flex-direction: column;
  
      h2 {
        -webkit-text-stroke: 1px rgba($white-color, 0.4);
        color: transparent;
      }
  
      h3 {
        color: $white-color;
        font-weight: 600;
      }
    }
  }
  
  // -------------------------------------------------------------------- SERVICE RESPONSIVE
  @media only screen and (max-width: 575.98px) {
    .saccormaindiv {
      @include widthheight(85%, 1500px);
      padding-top: 150px;
  
      .saccorimage {
        @include widthheight(100%, 600px);
        margin-left: 15%;
  
        .saccorimage2 {
          @include widthheight(70%, 90%);
          @include topleft(20%, -15%);
        }
  
        .saccorimage3 {
          @include topleft(120%, 0%);
          padding: 60px 0px 60px 0px;
  
          h2 {
            @include threeimage($text-darkcolor, 60px, bold, 30px);
            letter-spacing: 4px;
          }
        }
      }
    }
  
    .Smaindiv {
      @include widthheight(100%, 1200px);
  
      .Simg1 {
        @include widthheight(100%, 450px);
  
        .Simg2 {
          @include widthheight(317px, 427px);
          @include bottomright(-34%, 26%);
        }
  
        .Simg3 {
          @include widthheight(291px, 300px);
          @include topleft(73%, 31%);
        }
      }
  
      .Saccorsec {
        padding: 200px 10px 20px 10px;
  
        h2 {
          @include threeimage($text-darkcolor, 47px, bold, 30px);
          letter-spacing: 4px;
        }
  
        h6 {
          @include threeimage(var(--data-color-logo), 60px, 100, 13px);
        }
      }
    }
  
    .Sthreeimg {
      @include widthheight(100%, 2160px);
    }
  
    .STwobgsecdiv {
      @include widthheight(100%, 1400px);
  
      .Stwobg1 {
        @include widthheight(100%, 700px);
  
        h2 {
          @include widthheight(50%, 169px);
          bottom: 0px;
          right: 0px;
          transform: rotate(340deg);
        }
      }
  
      .Stwobg2 {
        @include widthheight(100%, 700px);
  
        h2 {
          font-size: 40px;
          padding-left: 25px;
        }
  
        h3 {
          padding-left: 20px;
          font-size: 40px;
          line-height: 60px;
        }
      }
    }
  }
  
  @media only screen and (min-width: 767.98px) {
    .saccormaindiv {
      @include widthheight(85%, 1800px);
      padding-top: 150px;
  
      .saccorimage {
        @include widthheight(100%, 900px);
        margin-left: 15%;
  
        .saccorimage2 {
          @include widthheight(70%, 90%);
          @include topleft(20%, -18%);
        }
  
        .saccorimage3 {
          @include topleft(120%, 0%);
          padding: 60px 0px 60px 0px;
  
          h2 {
            @include threeimage($text-darkcolor, 60px, bold, 30px);
            letter-spacing: 4px;
          }
        }
      }
    }
  
    .Smaindiv {
      @include widthheight(100%, 1100px);
  
      .Simg1 {
        @include widthheight(342px, 450px);
  
        .Simg2 {
          @include widthheight(317px, 486px);
          @include bottomright(-49%, 60%);
        }
  
        .Simg3 {
          @include widthheight(350px, 358px);
          @include topleft(55%, 40%);
        }
      }
  
      .Saccorsec {
        padding: 230px 10px 20px 70px;
  
        h2 {
          @include threeimage($text-darkcolor, 47px, bold, 37px);
          letter-spacing: 4px;
        }
  
        h6 {
          @include threeimage(var(--data-color-logo), 60px, 100, 13px);
        }
      }
    }
  
    .Sthreeimg {
      @include widthheight(100%, 1100px);
      margin-top: 50px
    }
  
    .STwobgsecdiv {
      @include widthheight(100%, 1400px);
  
      .Stwobg1 {
        @include widthheight(100%, 700px);
  
        h2 {
          @include widthheight(31%, 200px);
          @include bottomright(32px, 34px);
          transform: rotate(340deg);
        }
      }
  
      .Stwobg2 {
        @include widthheight(100%, 700px);
  
        h4 {
          position: relative;
          padding-left: 160px;
          text-align: end;
  
          &::before {
            content: "";
            position: absolute;
            @include topleft(40px, 70px);
            @include widthheight(40%, 3px);
            background-color: $white-color;
          }
        }
  
        h2 {
          font-size: 60px;
        }
  
        h3 {
          padding-left: 60px;
          font-size: 60px;
          line-height: 80px;
        }
      }
    }
  }
  
  @media only screen and (min-width: 991.98px) {
    .saccormaindiv {
      @include widthheight(50%, 900px);
      padding-top: 150px;
      margin-bottom: 200px;
  
      .saccorimage {
        @include widthheight(70%, 700px);
        margin-left: 15%;
  
        .saccorimage2 {
          @include widthheight(70%, 90%);
          @include topleft(25%, -18%);
        }
  
        .saccorimage3 {
          width: 600px;
          @include topleft(0%, 120%);
  
          h2 {
            @include threeimage($text-darkcolor, 60px, bold, 50px);
            letter-spacing: 7px;
          }
        }
      }
    }
  
    .Smaindiv {
      @include widthheight(100%, 700px);
  
      .Simg1 {
        @include widthheight(342px, 450px);
  
        .Simg2 {
          @include widthheight(317px, 486px);
          @include bottomright(-49%, 60%);
        }
  
        .Simg3 {
          @include widthheight(350px, 358px);
          @include topleft(55%, 40%);
        }
      }
  
      .Saccorsec {
        padding: 50px 10px 20px 70px;
  
        h2 {
          @include threeimage($text-darkcolor, 47px, bold, 37px);
          letter-spacing: 4px;
        }
  
        h6 {
          @include threeimage(var(--data-color-logo), 60px, 100, 13px);
        }
      }
    }
  
    .Sthreeimg {
      @include widthheight(100%, 800px);
      margin-top: 75px;
      padding-top: 150px
    }
  
    .STwobgsecdiv {
      @include widthheight(100%, 750px);
  
      .Stwobg1 {
        @include widthheight(100%, 700px);
  
        h2 {
          @include widthheight(35%, 254px);
          bottom: 0px;
          right: 0px;
          transform: rotate(340deg);
        }
      }
  
      .Stwobg2 {
        @include widthheight(100%, 700px);
  
        h4 {
          position: relative;
          padding-left: 140px;
          text-align: end;
  
          &::before {
            content: "";
            position: absolute;
            @include topleft(40px, 50px);
            @include widthheight(40%, 3px);
            background-color: $white-color;
          }
        }
  
        h2 {
          font-size: 55px;
        }
  
        h3 {
          padding-left: 50px;
          font-size: 60px;
          line-height: 80px;
        }
      }
    }
  }